*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.gallery{
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 20px;
    width: fit-content;
    

}
.gallery div img{
    height: 300px;
    width: 200px;
    padding: 10px;
    /* background-color: rgb(53, 53, 53); */
}
.gallery div img:hover{
    padding: 0px;
}
.images{
    display: flex;
    overflow-x: scroll;
    margin: 10px;
    width: 600px;
    scroll-behavior: smooth;
}
.images::-webkit-scrollbar{
    display: none;
}
.arrow{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 50px;
    padding: 10px;
    background-color: orangered;
}